USE [loyloyshopdb1]
GO
/****** Object:  Table [dbo].[Details]    Script Date: 3/13/2024 2:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Payment] [decimal](18, 0) NULL,
	[Note] [nvarchar](300) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ProductId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/13/2024 2:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[EngineNumber] [nvarchar](50) NULL,
	[FrameNumber] [nvarchar](50) NULL,
	[PlateNumber] [nvarchar](50) NOT NULL,
	[MadeYear] [int] NULL,
	[Power] [nvarchar](50) NULL,
	[PriceBuy] [decimal](18, 0) NOT NULL,
	[PriceSell] [decimal](18, 0) NULL,
	[Status] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[DateSell] [datetime] NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[SellingPrice] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Details] ON 

INSERT [dbo].[Details] ([Id], [Name], [Payment], [Note], [CreatedOn], [ModifiedOn], [ProductId]) VALUES (4, N'Fixing', CAST(20 AS Decimal(18, 0)), N'Fixing', CAST(N'2023-01-17T00:00:00.000' AS DateTime), CAST(N'2023-01-17T00:00:00.000' AS DateTime), 70)
INSERT [dbo].[Details] ([Id], [Name], [Payment], [Note], [CreatedOn], [ModifiedOn], [ProductId]) VALUES (6, N'ដេរកែប', CAST(3 AS Decimal(18, 0)), N'ដេរកែប', CAST(N'2023-01-18T15:31:57.473' AS DateTime), CAST(N'2023-01-18T15:31:57.473' AS DateTime), 74)
INSERT [dbo].[Details] ([Id], [Name], [Payment], [Note], [CreatedOn], [ModifiedOn], [ProductId]) VALUES (7, N'ដេរកែប', CAST(4 AS Decimal(18, 0)), N'ដេរកែប', CAST(N'2023-01-18T15:35:03.670' AS DateTime), CAST(N'2023-01-18T15:35:03.670' AS DateTime), 68)
GO
SET IDENTITY_INSERT [dbo].[Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Name], [Type], [Color], [EngineNumber], [FrameNumber], [PlateNumber], [MadeYear], [Power], [PriceBuy], [PriceSell], [Status], [CreatedOn], [DateSell], [ModifiedOn], [Id], [CategoryId], [Description], [SellingPrice]) VALUES (N'Nex', N'ស្រី', N'ស បៃតងខ្ចី', N'300311', N'300311', N'1BW-9936', 2013, N'110', CAST(520 AS Decimal(18, 0)), CAST(600 AS Decimal(18, 0)), 2, CAST(N'2022-12-23T15:12:20.497' AS DateTime), NULL, CAST(N'2023-01-12T15:53:27.330' AS DateTime), 1, 7, NULL, NULL)
INSERT [dbo].[Products] ([Name], [Type], [Color], [EngineNumber], [FrameNumber], [PlateNumber], [MadeYear], [Power], [PriceBuy], [PriceSell], [Status], [CreatedOn], [DateSell], [ModifiedOn], [Id], [CategoryId], [Description], [SellingPrice]) VALUES (N'Icon ', N'ស្រី', N'ស', N'0005586', N'0005586', N'1B-0175', 2008, N'110', CAST(320 AS Decimal(18, 0)), CAST(410 AS Decimal(18, 0)), 2, CAST(N'2022-12-23T15:15:06.837' AS DateTime), NULL, CAST(N'2023-06-06T06:53:47.243' AS DateTime), 2, 16, N'update price for selling', CAST(480 AS Decimal(18, 0)))
INSERT [dbo].[Products] ([Name], [Type], [Color], [EngineNumber], [FrameNumber], [PlateNumber], [MadeYear], [Power], [PriceBuy], [PriceSell], [Status], [CreatedOn], [DateSell], [ModifiedOn], [Id], [CategoryId], [Description], [SellingPrice]) VALUES (N'Today ', N'ស្រី', N'ស', N'1087578', N'1087578', N'1FK-4010', 2015, N'50', CAST(200 AS Decimal(18, 0)), CAST(285 AS Decimal(18, 0)), 2, CAST(N'2022-12-23T15:19:51.110' AS DateTime), NULL, CAST(N'2023-01-16T10:08:46.297' AS DateTime), 3, 5, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[Details] ADD  DEFAULT ((0)) FOR [Payment]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [CategoryId]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_SellingPrice]  DEFAULT ((0)) FOR [SellingPrice]
GO
