@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using LoyloyShop.Enum

@{
    ViewData["Title"] = "Report";
}
@{

}
<div class="row">
    @using (Html.BeginForm("GetActiveProduct", "Report", FormMethod.Post,  new { @class="d-flex" }))
            {
            <div class="form-row">
                <div class="form-group col-md-6">
                        <input type="submit" value="ActiveProduct"  class="btn btn-primary"/>
                </div>
                </div>
            }
</div>
